.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.uppercase {
    text-transform: uppercase;
}

.semibold {
    font-weight: 600;
}

.space-between {
    justify-content: space-between;
}

.mx-2 {
    margin-left: 10px;
    margin-right: 10px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.small-font {
    font-size: 12px;
}